<div
  class="login-screen"
  [style]="{
    height: '100vh',
    'background-image': 'url(\'image.png\')',
    'background-size': 'cover',
    'background-position': 'center',
    display: 'flex',
    'justify-content': 'flex-end',
    'align-items': 'center'
  }"
>
  <div
    class="card flex justify-content-center shadow-3"
    [style]="{ 'max-width': '460px', margin: '0 40px' }"
  >
    <p-card class="p-3" [style]="{ width: '100%' }">
      <!-- Encabezado con imagen y título centrados -->
      <ng-template pTemplate="header">
        <div class="text-center" style="color: black">
          <img
            alt="Card"
            src="04.webp"
            class="mt-3 mb-3 w-6 h-6 border-circle"
          />
          <h2 class="fw-bold mb-1 text-uppercase text-center">
            Iniciar Sesión
          </h2>
          <p class="text-center text-600">
            Por favor ingrese sus credenciales correspondientes
          </p>
        </div>
      </ng-template>

      <!-- Formulario de inputs con bordes y padding adicionales -->
      <div class="flex flex-column align-items-center gap-3 py-3 px-4">
        <div class="flex flex-column align-items-start gap-2 w-full">
          <label for="username" class="font-bold text-900">Usuario:</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input
              
              pInputText
              placeholder="Username"
              style="color: blue"
            />
          </p-inputGroup>
        </div>
        <div class="flex flex-column align-items-start gap-2 w-full">
          <label for="password" class="font-bold text-900">Contraseña:</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-key"></i>
            </p-inputGroupAddon>
            <input
              
              pInputText
              placeholder="Password"
              type="password"
              style="color: black"
            />
          </p-inputGroup>
          
        </div>
        
      </div>
       <!-- Opciones adicionales -->
       <div class="flex align-items-center justify-content-between mb-5 gap-5">
        <div class="flex align-items-center">
          <p-checkbox id="rememberme1" binary="true" styleClass="login-p-check mr-2 " ></p-checkbox>
          <label for="rememberme1" class="login-p-checkbox-label">Recuerdame</label>             
        </div>
        <a class="login-link font-medium no-underline ml-2 text-right cursor-pointer">¿Olvidaste tu contraseña?</a>
      </div>

      <!-- Enlace de "Olvidó su contraseña" con estilo simplificado -->
      <ng-template pTemplate="footer">
        <p class="text-center mt-4 mb-1">
          <a
            href="#"
            (click)="null"
            class="text-600 no-underline hover:underline"
            >¿Olvidó su contraseña?</a
          >
        </p>

        <div class="flex justify-content-center mt-3">
          <button class="btn-custom" [routerLink]="['/layout']" >
            <i class="pi pi-user"></i>
            <!-- Icono de PrimeIcons -->
            Login
          </button>
          

        </div>
      </ng-template>
    </p-card>
  </div>
</div>
