<div
  class="card flex align-items-center justify-content-between md:flex-row md:justify-content-between px-4 py-2 w-full"
  [style]="{'width':' 100vh'}"
>
  <!-- Espacio para el logo y texto "Shear" alineado a la izquierda -->
  <div class="flex align-items-center">
    <img
      src="image-asset.png"
      alt="Logo"
      class="logo-img mr-2"
      [style]="{'height': '40px', 'width': 'auto'}"
    />
    <span class="font-semibold text-2xl text-white mr-3">Shear</span>
  </div>
  <!-- Botón de apertura de la barra lateral en el centro -->
  <p-button
    class="btn"
    (onClick)="sidebarVisible = true"
    icon="pi pi-bars"
    [style]="{'background-color': '#FFC107', 'border': '2px solid white', 'color': 'white; margin-left: 0'}"
  ></p-button>

  <!-- Imagen del logo alineada a la derecha y ajustada al contenedor -->
  <img
    src="logo-upeu-blanco.png"
    alt="Logo"
    class="logo-img ml-3"
    [style]="{'height': '40px','width': 'auto'}"
  />
</div>
<!-- Sidebar debajo del div de la tarjeta -->
<p-sidebar #sidebarRef [(visible)]="sidebarVisible" [baseZIndex]="10000" [style]="{'margin-top': '64px'}">
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
      <!-- Contenido del sidebar (menú) -->
      <div class="overflow-y-auto">
        <!-- Menú aquí, igual que en tu código original -->
        <p-menu [model]="items" styleClass="w-full custom-menu" [style]="{background: 'transparent', boxShadow: 'none', 'border': 'none'}">
          <ng-template pTemplate="start">
            <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
              <span class="inline-flex align-items-center justify-content-center gap-2 w-100">
                <div class="mt-auto"></div>
              </span>
              <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color mb-10">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
                <span class="inline-flex flex-column">
                  <span class="font-bold">Amy Elsner</span>
                  <span class="text-sm">Admin</span>
                </span>
              </button>
              <span>
                <p-button
                  type="button"
                  (onClick)="sidebarVisible = false"
                  icon="pi pi-times"
                  rounded="true"
                  outlined="true"
                  styleClass="h-2rem w-2rem custom-button-color"
                ></p-button>
              </span>
            </div>
          </ng-template>
          
          <!-- Menú Subheadings -->
          <ng-template pTemplate="submenuheader" let-item>
            <span class="text-yellow-500 font-bold">{{ item.label }}</span>
        </ng-template>

        </p-menu>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<div class="layout-footer">
    <span class="font-medium ml-2">Shear ©</span>
</div>

<router-outlet></router-outlet>








